In [ ]:
# Vis
import matplotlib.pyplot as plt
import seaborn as sns

# handling
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta
from statistics import mode, StatisticsError
from sklearn.preprocessing import MinMaxScaler
from collections import Counter 
from typing import List
from scipy.stats import spearmanr, pearsonr

import sys
import os
import gc
import traceback
import json
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import time
from datetime import datetime, timedelta

import random
from datetime import datetime, timedelta
from statistics import mode, StatisticsError

import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
from collections import defaultdict


# print all output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
def namestr(obj, namespace):
    return [name for name in namespace if namespace[name] is obj]

# 1. Data Import

In [ ]:
# Load appName data : 한글명으로 변환해주는 데이터 
with open('../in/apps_name.json') as f:
    apps = f.read()
apps = apps.split('\n')
tmp = [eval(x) for x in apps[:-1]]

appnames = {}
for subdict in tmp:
    for k,v in subdict.items():
        appnames[k] = v
        
# Load appInstall data
# with open('apps_200423_200630.txt') as f:
#with open('seven_android_app_install.json') as f:
# lotte eatz
with open('../in/lotte_eatz/app_install_20200812.json') as f:
    lotteatz_install = f.read()
lotteatz_install = lotteatz_install.split('\n')
lotteatz_install = [eval(x) for x in lotteatz_install[:-1]]
lotteatz_install = pd.DataFrame(lotteatz_install)
lotteatz_install = lotteatz_install.drop_duplicates(subset='adid', keep='last')

# coke
with open('../in/coke/coke_app_data.txt') as f:
    coke_install = f.read()
coke_install = coke_install.split('\n')
coke_install = [eval(x) for x in coke_install[:-1]]
coke_install = pd.DataFrame(coke_install)

In [ ]:
# 한글명으로 수정
def app_name_convert(origin_appList) :
    new_appList = []
    for i in origin_appList :
        try : 
            new_appList.append(appnames[i])
        except :
            new_appList.append(i)
    return new_appList

lotteatz_install['total_apps'] = lotteatz_install['total_apps'].apply(lambda x: app_name_convert(x))
coke_install['total_apps'] = coke_install['apps'].apply(lambda x: app_name_convert(x))

# drop na
coke_install = coke_install.dropna()
lotteatz_install = lotteatz_install.dropna()

# 2. relataion

In [ ]:
# 0) sampleing : df_total_app_install_sample
df_app_install_sample = df_app_install.sample(n_user_sample)

In [ ]:
# 1) generate total data
from collections import Counter
def gen_df_total_app_count(df_app_install, n_user_sample, n_top_app) :
    """
     - df_total_app_count : 전체 데이터의 앱 설치 빈도
     - app_list_sample :  설치 수 상위 n개 앱리스트 생성
     - n_total_user : 전체 유저의 수
    """
    # 1) df_total_app_count
    df_total_app_count = pd.DataFrame.from_dict(Counter(df_app_install['total_apps'].sum()),orient='index')
    df_total_app_count = df_total_app_count.reset_index()
    df_total_app_count = df_total_app_count.rename(columns = { 0: 'count',
                                                  'index' : 'app_name'}).\
                                            sort_values(by = 'count', ascending = False)

    # 2) total_app_list_sample by n_sample(500)
    # select only apps installed more than min_install_rate and under the max_install_rate 
    app_list_sample = df_total_app_count.head(n_top_app).app_name.values
    len(app_list_sample)
    
    
    # 3) n_total_user
    n_total_user = df_app_install['adid'].nunique()
    print('number of total user : {}'.format(n_total_user))
    
    return df_total_app_count, app_list_sample, n_total_user

df_total_app_count, app_list_sample, n_total_user = gen_df_total_app_count(df_app_install = df_app_install_sample,
                                                                           n_user_sample = n_user_sample,
                                                                           n_top_app = n_top_app)
df_total_app_count.head()
app_list_sample[:5]
n_total_user

number of total user : 7000

               app_name  count
247            엔제리너스 카드   6996
92       카카오톡 KakaoTalk   6931
20   V3 Mobile Plus 2.0   6864
163         네이버 - NAVER   6230
192  Samsung Calculator   5907

array(['엔제리너스 카드', '카카오톡 KakaoTalk', 'V3 Mobile Plus 2.0', '네이버 - NAVER',
       'Samsung Calculator'], dtype=object)

7000

In [ ]:
# 2) generate target data 
def gen_df_target_app_count(df_app_install, n_user_sample, target_app) :
    """
     - df_target_app_count : 타겟 데이터의 앱 설치 빈도
     - n_target_user : 타겟 데이터를 설치한 유저의 수
    """
    # 1) df_target_app_install
    df_target_app_install = df_app_install[df_app_install['total_apps'].apply(lambda x : True if target_app in x else False)]
    
    # 2) n_target_user
    n_target_user = df_target_app_install.adid.nunique()
    print('number of target user : {}'.format(n_target_user))
    
    # 3) df_target_app_count
    df_target_app_count = pd.DataFrame.from_dict(Counter(df_target_app_install.total_apps.sum()),
                                                 orient='index')
    df_target_app_count = df_target_app_count.reset_index()
    df_target_app_count = df_target_app_count.rename(columns = { 0: 'count',
                                                                'index' : 'app_name'}).\
                                              sort_values(by = 'count', ascending = False)

    return df_target_app_install, df_target_app_count, n_target_user
target_app = '대한항공'
df_target_app_install, df_target_app_count, n_target_user  = gen_df_target_app_count(df_app_install = df_app_install_sample,
                                                                                     n_user_sample = n_user_sample,
                                                                                     target_app = target_app)
df_target_app_install.head()
df_target_app_count.head()
n_target_user

number of target user : 751

,total_apps,uid,adid
184922,"[대한항공, Gacha Studio (Anime Dress Up), 공주 프리티걸 ...",ff3SoGhjRlOQzX5I7VSZbg,7f0985c1-b721-4414-a43a-cacd031f5ce3
101515,"[대한항공, 통화 및 음성 녹음기, Soul Knight, 아고다(Agoda) - ...",wLPRUFwHQP6Sm70qNhRhsQ,404022b6-e30a-4686-a906-a2f49001ce24
83056,"[모바일 T world, 대한항공, V3 Mobile Plus 2.0, JoyFit...",r2QBDF-rTC2d2M81lGURGg,0f1c1144-528f-4ea2-800f-8fa211709862
63592,"[대한항공, 복지로, 아파트아이, qKOaRFl7, 미세미세 - 미세먼지, WHO기...",S-fISOVwRwGiULXSkDB3GA,8faf415d-2ab9-4bb2-80db-205799b4a4cc
3647,"[대한항공, 디어 deer, j1BKaFpv, V3 Mobile Plus 2.0, ...",J4q0oMVSRhO8BEKGWVUCsg,04aa8bc1-17ab-40b7-b6d1-d4a60d516726

               app_name  count
0                  대한항공    751
149            엔제리너스 카드    751
7    V3 Mobile Plus 2.0    746
61       카카오톡 KakaoTalk    745
109         네이버 - NAVER    707

751

In [ ]:
# 3) extract_n_top_app_data for get Total rate & intersect rate
def extract_n_top_app_data(df_total_app_count, df_target_app_count, n_top_app, n_total_user, n_target_user) :
    """
    : total & target 데이터 설치 빈도 상위 N(500개)만을 활용하여 전체 설치 확률(total_rate) & 타겟 데이터의 설치 확률(intersect_rate)계산 산출
    """
    df_total_app_count_sample = df_total_app_count.head(n_top_app)
    df_target_app_count_sample = df_target_app_count.head(n_top_app)

    df_total_app_count_sample['total_rate'] = df_total_app_count_sample['count'].apply(lambda x : x /n_total_user).values
    df_target_app_count_sample['intersect_rate'] = df_target_app_count_sample['count'].apply(lambda x : x /n_target_user).values
    
    return df_total_app_count_sample, df_target_app_count_sample
df_total_app_count_sample, df_target_app_count_sample = extract_n_top_app_data(df_total_app_count = df_total_app_count, 
                                                                               df_target_app_count = df_target_app_count,
                                                                               n_top_app = n_top_app,
                                                                               n_total_user = n_total_user, 
                                                                               n_target_user = n_target_user)
df_total_app_count_sample
df_target_app_count_sample

/home/th/.local/share/virtualenvs/th-EMsiyxSG/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/th/.local/share/virtualenvs/th-EMsiyxSG/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

                             app_name  count  total_rate
247                          엔제리너스 카드   6996    0.999429
92                     카카오톡 KakaoTalk   6931    0.990143
20                 V3 Mobile Plus 2.0   6864    0.980571
163                       네이버 - NAVER   6230    0.890000
192                Samsung Calculator   5907    0.843857
...                               ...    ...         ...
1340              원기날씨 - 미세먼지, 기상청 날씨    326    0.046571
340   폴라리스 뷰어 - PDF, 한글, 오피스 문서 무료 뷰어    325    0.046429
2436            더치트 :: 사기피해 정보공유 공식 앱    324    0.046286
1646                모바일증권 나무(계좌개설 겸용)    324    0.046286
1422   택배파인더-로지아이,배송조회,포인트,택배예약,편의점택배    324    0.046286

[500 rows x 3 columns]

                            app_name  count  intersect_rate
0                               대한항공    751        1.000000
149                         엔제리너스 카드    751        1.000000
7                 V3 Mobile Plus 2.0    746        0.993342
61                    카카오톡 KakaoTalk    745        0.992011
109                      네이버 - NAVER    707        0.941411
...                              ...    ...             ...
219   하나알리미 - 하나은행 알리미, 입출금 알리미, 알리미     51        0.067909
82                          EFn7z6ki     51        0.067909
2846                 CLiP - 돈이 되는 습관     51        0.067909
375                       신한생명 스마트창구     51        0.067909
1979                              공차     51        0.067909

[500 rows x 3 columns]

In [ ]:
# 4) merge total & target
def merge_total_target(df_total_app_count_sample, df_target_app_count_sample) :
    df_app_relation_merge_fin = pd.merge(df_total_app_count_sample[['app_name', 'total_rate']],
                                         df_target_app_count_sample[['app_name', 'intersect_rate']], 
                                         on = 'app_name')
    
    # + 중복되지 못한 앱 수
    not_interect = list(set(df_total_app_count_sample.app_name.values) - set(df_target_app_count_sample.app_name.values))
    print('중복되지 못한 앱 수(설치빈도 상위 N개로 제한함에 따른 연관도 분석 불가 앱의 수) : {}'.format(len(not_interect)))
    print(f'중복되지 못한 앱 : {not_interect[:5]}')

    return df_app_relation_merge_fin

df_app_relation_merge_fin = merge_total_target(df_total_app_count_sample, df_target_app_count_sample)
df_app_relation_merge_fin.head()

중복되지 못한 앱 수(설치빈도 상위 N개로 제한함에 따른 연관도 분석 불가 앱의 수) : 61
중복되지 못한 앱 : ['Pinterest (핀터레스트): 수백만개의 아이디어', 'U+아이돌Live - 멤버별/카메라별 아이돌 생방송 App', 'CGV포토티켓', '빽다방', 'KT 휴대폰 결제']

             app_name  total_rate  intersect_rate
0            엔제리너스 카드    0.999429        1.000000
1      카카오톡 KakaoTalk    0.990143        0.992011
2  V3 Mobile Plus 2.0    0.980571        0.993342
3         네이버 - NAVER    0.890000        0.941411
4  Samsung Calculator    0.843857        0.894807

In [ ]:
# 5) calculate relataion
def calc_relataion(df_app_relation_merge_fin, how = 'REL', rel_weight = 0.7):
    """
    - how : ABS, REL, GEO, weight 4가지중 하나 선택
    - rel_weight
    # 1. ABS_diff
    ABS_diff = intersect_rate - total_rate

    # 2. Rel_diff
    Rel_diff = (intersect_rate / total_rate)-1

    # 3. Geo_mean
    Geo_mean = np.sqrt(ABS_diff * Rel_diff)

    # 4. weighted_Geo_mean
    weight = 0.7
    weighted_Geo_mean = np.sqrt(abs(ABS_diff)**(2*1-weight) * abs(Rel_diff)**(2*weight))
    if ABS_diff < 0 :
        weighted_Geo_mean = weighted_Geo_mean * (-1)
    """
    # select relataion way
    if how == 'ABS' :
        relation_values = df_app_relation_merge_fin['intersect_rate']  - df_app_relation_merge_fin['total_rate'] 
    elif how == 'REL' :
        relation_values = df_app_relation_merge_fin['intersect_rate'] / df_app_relation_merge_fin['total_rate'] - 1
    elif how == 'GEO' :
        relation_values = np.sqrt(df_app_relation_merge_fin['intersect_rate']  * df_app_relation_merge_fin['total_rate'] )
    elif how == 'weight' :
        abs_diff = df_app_relation_merge_fin['intersect_rate']  - df_app_relation_merge_fin['total_rate']
        rel_diff = df_app_relation_merge_fin['intersect_rate'] / df_app_relation_merge_fin['total_rate'] - 1
        relation_values = np.sqrt(abs(abs_diff)**(2*1-rel_weight) * 
                                  abs(rel_diff)**(2*rel_weight)) * abs_diff.map(lambda x: -1 if x < 0 else 1) # 음수 유지
        
    # combie result
    target_relation = str(how + '_relation')
    df_app_relation_merge_fin[target_relation] = relation_values
    
    # sorting
    df_app_relation_merge_fin = df_app_relation_merge_fin[['app_name', 'total_rate', 'intersect_rate', target_relation]].sort_values(by = target_relation, ascending = False)
    
    return df_app_relation_merge_fin
df_app_relation_merge_fin = calc_relataion(df_app_relation_merge_fin, how = 'REL', rel_weight = 0.7)
df_app_relation_merge_fin

,app_name,total_rate,intersect_rate,REL_relation
241,대한항공,0.107286,1.000000,8.320905
272,아시아나항공,0.094429,0.568575,5.021220
432,진에어,0.048143,0.234354,3.867891
349,"호텔스닷컴: 국내호텔에서 해외호텔까지, 모든 호텔 예약을 간편하고 빠르게 최저가로",0.068286,0.270306,2.958460
383,롯데면세점,0.059857,0.233023,2.892980
...,...,...,...,...
245,에이블리 - 셀럽마켓 모음앱,0.105571,0.075899,-0.281067
252,hdb0xclm,0.102143,0.071904,-0.296044
259,EFn7z6ki,0.099000,0.067909,-0.314046
201,NH콕뱅크,0.129571,0.082557,-0.362849
199,알바천국- 알바 구인구직 포털서비스,0.132714,0.081225,-0.387971

# 2. relataion main

In [ ]:
def app_install_relation_main(df_app_install, target_app, n_user_sample, n_top_app, how  = 'REL') :
    """
    : 앱설치 패턴 분석에 있어서, 유저수 및 상위 앱의 개수 설정하여 앱설치 패턴 진행
    [input]
    - df_app_install : 유저별 앱설치 데이터 
    - n_user_sample : 전체 유저중 샘플링할 유저의 수
    - n_top_app : 전체 앱중, 상위 n개의 앱 수 
    
    [output]
    
    """
    # 0) sampleing : df_total_app_install_sample (if necessary)
    df_app_install_sample = df_app_install.sample(n_user_sample) 
    
    # 1) generate total data
    ## app_list_sample : 모든 앱의 연관도를 계산하는 것은 비효율적이기에, 전체데이터 기준 설치 빈도 상위 n(500)개의 앱에 한하여 연관도 계산
    df_total_app_count, app_list_sample, n_total_user = gen_df_total_app_count(df_app_install = df_app_install_sample,
                                                                           n_user_sample = n_user_sample,
                                                                           n_top_app = n_top_app)

    # 2) generate target data 
    ## : 타겟 앱을 설치하고 있는 유저들의 목록(df_target_app_install) 및 숫자(n_target_user)와, 타겟 집단의 앱 설치 빈도 데이터(df_target_app_count) 생성
    df_target_app_install, df_target_app_count, n_target_user  = gen_df_target_app_count(df_app_install = df_app_install_sample,
                                                                                     n_user_sample = n_user_sample,
                                                                                     target_app = target_app)
    
    # 3) extract_n_top_app_data for get Total rate & intersect rate
    ## : total & target 데이터 설치 빈도 상위 N(500개)만을 활용하여 전체 설치 확률(total_rate) & 타겟 데이터의 설치 확률(intersect_rate)계산 산출
    df_total_app_count_sample, df_target_app_count_sample = extract_n_top_app_data(df_total_app_count = df_total_app_count, 
                                                                                   df_target_app_count = df_target_app_count,
                                                                                   n_top_app = n_top_app,
                                                                                   n_total_user = n_total_user, 
                                                                                   n_target_user = n_target_user)
    
    # 4) merge total & target (total_rate & intersect_rate)
    #       app_name 	total_rate 	intersect_rate
    # 0 	엔제리너스 카드 	0.999286 	1.000000
    # 1 	카카오톡 KakaoTalk 	0.992143 	0.997426
    # 2 	V3 Mobile Plus 2.0 	0.978714 	0.998713
    df_total_app_relation_fin = merge_total_target(df_total_app_count_sample, df_target_app_count_sample)
    
    # 5) 최종 relation 산출
    ## how : ABS, REL, GEO, weight 4가지중 하나 선택
    ## rel_weight
    ##   1. ABS_diff
    ##   2. Rel_diff
    ##   3. Geo_mean
    ##   4. weighted_Geo_mean
    df_total_app_relation_fin = calc_relataion(df_total_app_relation_fin, how, rel_weight = 0.7)

    return df_total_app_relation_fin

In [ ]:
# pre setting
# select df_app_install
df_app_install = lotteatz_install

# sample number setting
n_user_sample, n_top_app = 7000, 500

In [ ]:
target_app = '대한항공'
df_total_app_relation_fin = app_install_relation_main(df_app_install = df_app_install, target_app = target_app,
                                                      n_user_sample = n_user_sample, n_top_app = n_top_app,
                                                      how  = 'REL')
df_total_app_relation_fin.head()
df_total_app_relation_fin.tail()

                         app_name  total_rate  intersect_rate  REL_relation
233                          대한항공    0.115286        1.000000      7.674102
257                        아시아나항공    0.102429        0.570012      4.564975
428                           진에어    0.050714        0.232962      3.593609
431                         신라면세점    0.050000        0.205700      3.114002
430  하나투어 - 해외여행,국내여행,항공,호텔 하나면 돼    0.050429        0.194548      2.857887
..                            ...         ...             ...           ...
211                         NH콕뱅크    0.124571        0.085502     -0.313632
205             아이엠스쿨 - 한국 1위 알림장    0.130286        0.087980     -0.324714
165       알바몬 - 알바 채용 구인구직 취업정보검색    0.160000        0.106568     -0.333953
246         Discord - 게이머를 위한 메신저    0.108857        0.069393     -0.362533
201           알바천국- 알바 구인구직 포털서비스    0.131571        0.079306     -0.397239

[441 rows x 4 columns]

In [ ]:
target_app = '쏘카 - 1등 카셰어링'
df_total_app_relation_fin = app_install_relation_main(df_app_install = df_app_install, target_app = target_app,
                                                      n_user_sample = n_user_sample, n_top_app = n_top_app,
                                                      how  = 'REL')
df_total_app_relation_fin.head()
df_total_app_relation_fin.tail()

number of total user : 7000
number of target user : 605
중복되지 못한 앱 수(설치빈도 상위 N개로 제한함에 따른 연관도 분석 불가 앱의 수) : 60
중복되지 못한 앱 : ['농협몰', '빽다방', '해피스크린 - 해피포인트를 모으는 또 다른 방법', '신한생명 스마트창구', '메모G_사진 메모, 비밀 노트, 할일 정리']

,app_name,total_rate,intersect_rate,REL_relation
299,쏘카 - 1등 카셰어링,0.086429,1.000000,10.570248
375,"중고차No.1 플랫폼 SK엔카 - 중고차구매, 중고차판매, SK엔카직영몰 엔카닷컴",0.060714,0.201653,2.321342
316,Airbnb (에어비앤비) - 색다른 숙소 특별한 여행,0.080857,0.252893,2.127647
366,서울자전거 따릉이,0.063429,0.191736,2.022858
414,블라인드 Blind,0.051571,0.155372,2.012752

                   app_name  total_rate  intersect_rate  REL_relation
117          VG 기업용 Web SDK    0.224429        0.190083     -0.153037
231     캐시워크 - 적립형 만보기 잠금화면    0.112000        0.089256     -0.203070
172  Google Duo - 고화질 화상 통화    0.156143        0.114050     -0.269582
260                 4shared    0.098714        0.071074     -0.279999
214                   NH콕뱅크    0.119714        0.077686     -0.351072

### relation test

In [ ]:
%%time
# run
app_Relation = {}
for app in app_list_sample_500 : # select only apps installed more than once 
    # 1. total_rate
    # : 전체중 B사용자 비율
    total_rate = sum(app_install_unique['total_apps'].apply(lambda x : True if app in x else False)) / n_total_user
    
    # 2. intersect_rate (forloop)
    # : 전체 A사용자중 B사용자 비율
    intersect_rate = sum(df_target['total_apps'].apply(lambda x : True if app in x else False)) / n_target_user

    # 3. ABS_diff
    ABS_diff = intersect_rate - total_rate

    # 4. Rel_diff
    Rel_diff = (intersect_rate / total_rate)-1

    # 5. Geo_mean
    Geo_mean = np.sqrt(ABS_diff * Rel_diff)

    # 6. weighted_Geo_mean
    weight = 0.7
    weighted_Geo_mean = np.sqrt(abs(ABS_diff)**(2*1-weight) * abs(Rel_diff)**(2*weight))
    if ABS_diff < 0 :
        weighted_Geo_mean = weighted_Geo_mean * (-1)

    print('total_rate : {}'.format(round(total_rate, 2)))
    print('intersect_rate : {}'.format(round(intersect_rate, 2)))
    print('ABS_diff : {}'.format(round(ABS_diff, 2)))
    print('Rel_diff : {}'.format(round(Rel_diff, 2)))
    print('Geo_mean : {}'.format(round(Geo_mean, 2)))
    print('weighted_Geo_mean : {}'.format(round(weighted_Geo_mean, 2)))

    # get output
    output = Rel_diff
    app_Relation[app] = round(output, 5)
app_Relation

In [ ]:
df_300 = pd.DataFrame.from_dict(app_Relation_dict_size['app_list_sample_300'], orient='index').reset_index().rename(columns = {'index' : 'app',
                                                                                                                               0 : 'Relation'}).sort_values(by = 'Relation', ascending = False)      
df_500 = pd.DataFrame.from_dict(app_Relation_dict_size['app_list_sample_500'], orient='index').reset_index().rename(columns = {'index' : 'app',
                                                                                                                               0 : 'Relation'}).sort_values(by = 'Relation', ascending = False) 
df_all = pd.DataFrame.from_dict(app_Relation_dict_size['app_list_sample_all'], orient='index').reset_index().rename(columns = {'index' : 'app',
                                                                                                                               0 : 'Relation'}).sort_values(by = 'Relation', ascending = False)

In [ ]:
df_300.head(10)
df_500.head(10)
df_all.head(10)

In [ ]:
df_all.head(50)